*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image:url(../images/charlotte1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
main{
    width: 100%;
    padding: 20px;
    margin:auto;
    margin-top: 100px;
}
.contenedor-todo{
    width: 100%;
    max-width: 800px;
    margin:auto;
    position:relative;
}
.caja-trasera{
    width:100% ;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(10, 117, 204, 0.5);
}
.caja-trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja-trasera div p,
.caja-trasera div button{
    margin-top: 30px;

}
.caja-trasera div h3{
    font-weight: 400;
    font-size: 26px;
}
.caja-trasera button{
    padding:10px 40px ;
    border: 2px solid white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background:transparent;
    outline: none;
    transition: all 300ms;
}
.caja-trasera button:hover{
    background:white;
    color: rgb(10, 117, 204);
}
/*forms*/
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms ;

}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background:white;
    position:absolute;
    border-radius: 20px;
}
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(10, 117, 204);
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}
.contenedor__login-register form button{
    padding:10px 40px ;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background:rgb(10, 117, 204) ;
    color: white;
    cursor: pointer;
    outline:none;
}
.formulario_login{
    opacity: 1;
    display: block;

}
.formulario_register{
    display: none;
}
/*responsive*/
@media screen and (max-width:850px){
    main{
        margin-top: 50px;
    }
    .caja-trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin:auto;
    }
    .caja-trasera div{
        margin: 0px;
        position: absolute;
    }
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin:auto;
    }
    .contenedor__login-register form{
        position: relative;
    }
}
.boton{
    background-color: #f2f2f2;
    padding:10px 40px ;
    border: 2px solid rgb(117, 117, 117);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    display: flex;
    align-items: center;
    max-width: 100px;
    text-align: center;
   

    
}


a{
   
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    padding: 30px 40px ;
    background: white;
    cursor: pointer;
    outline:none;
    border:rgb(10, 117, 204) ;
    border-radius: 20px;
    text-decoration: none;
    



}
